/* Color Palette:

purple-grey: #4C4556
maroon: #872642
orange: #F6C0265
sky-blue: #A0D3F9
white: #fff
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Atma', cursive;
}





